In [ ]:
#1. In the below elements which of them are values or an expression? eg:- values can be
#integer or string and expressions will be mathematical operators.

In [ ]:
* --------- Expression
'hello'---- Values
-87.8------ Values
-  -------- Expression
/  -------- Expression
+  -------- Expression
6  -------- Values

In [ ]:
# 2. What is the difference between string and variable?

In [ ]:
Variable -- A varible is something in which we can assign a value or store data in program, we can assume it .
for ex --  a=10, here a is a varibale where we can assign value 10 to it.

string --- is a type of data which can be stored in variables.It is a collection of one or more char enclosed in single 
           or double quote. Reprensented by str.

for ex = 
a = "welcome to India"

"welcome to India" is a string stored in varible in a.

In [ ]:
3. Describe three different data types.

In [ ]:
Numeric - it consists of int, float, complex numbers.

Squence Type - it consists of strings,list, Tuple.

Boolean -- it has only two values TRUE or FALSE.

In [ ]:
4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is made up of a combination of terms that are combined by using mathematical operations such as 
subtraction,division,addition, multiplication. 
Expression produce a value and that value will be passed into the function.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
AN Expression produce a value and that value will be passed into the function. 
A ststement is a standalone unit of execution and does not return anything on execution.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [ ]:
After runing the following code the varible bacon contains value of 23/

In [ ]:
7. What should the values of the following two terms be?
"spam" + "spamspam";
"spam"; * 3

In [ ]:
1.  "spamspamspam"
2.  "spamspamspam"

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Because int and special character cannot be used as a variable name in python.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
for integer -- int()

for floating-point number --- float()

for string -------- str()

In [ ]:
10. Why does this expression cause an error? How can you fix it?
"I have eaten" + 99 +  "burritos."

In [ ]:
A string value can not be added to int value and vice versa, so i have to use str(99) to convert 
the data type of 99 from int to string.